*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    overflow: hidden;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #f3f5f8;    
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 500;
    color: #3d535f;
    letter-spacing: 6px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Jazz LET, fantasy;
}
b{
    font-size: 70px;
    color: #ff00ae;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a,
.links a:hover {
    color: #ff00ae;
}
.links{
    font-size: 35px;
    margin: 25px 10px;
    display: flex;
    align-items: center;
}
 
.fab{
    margin-right: 20px;
    color: #7f00ff;
}
.fab:hover{
    color: #ff00ae;
}
.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 400px;
    width: 400px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background-image: linear-gradient(45deg, #ff00ae, pink);    
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background-image: linear-gradient(45deg, #ff00ae, pink);    
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}
.cols{
    width: 50%;
}
.cols0{
    width: 60%;
    z-index: 5;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 40px;
    bottom: 8px;
    background-color: #7f00ff;
}
#h{
    display: block;
    font-size: 5em;
    font-weight: 900;
    color: #3d535f;

}
.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}
p{
    display: flex;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.btns{
    width: 100%;
    position: relative;
    left: -5px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
button:hover{
    background-color: #ff00ae;
}
.imgbox{
    margin-top: 200px;
    position: relative;
    height: 85%;
    width: 85%;
    margin-left: 75px;
}
#photo{
    margin-top: 50px;
    margin-left: 65px;

}
.imgbox img{
    position: relative;
    height: 80%;
    width: calc(130% - 80px);
    top: -100px;
    right: 50px;
    /* transform: rotateY(180deg); */
    animation: animateUser 3s ease-out infinite;

}
@keyframes animateUser{
    50%{
        right: 60px;
        top: -90px;
    }
}
.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%) rotate(180deg);
    width: 160%;
    filter: saturate(200%);
    animation: animate 3s ease-in infinite;

}
@keyframes animate{
    50%{
        top: 49%;
        left: 51%;
        width: 140%;

    }
}